  .navbar-nav  
	  li a: hover  {
      color: white ;     
 }   
  
    
body{
	background-color: white;

}


h1 {
    font-family: Arial, "MS Trebuchet", sans-serif;
    font-size: 48px ;
    text-align: center;
    color: #680000  ;
}

h2 {
    font-family: Arial, "MS Trebuchet", sans-serif;
    text-align: center;
    color: #680000  ;
}

h3 {
    font-family: Arial, "MS Trebuchet", sans-serif;
    text-align: center;
    color: lightcoral;
}

.panel-body {
	font-family: "Arial", Helvetica, sans-serif ;
	font-size: 36px;
    color : crimson;
	text-align: center ;
} 

.list-group{
	font-family: "Arial", Helvetica, sans-serif ;
	font-size: 18px;
	background-color: #000000;
	color: black;

}

p{
	font-size: 18px ;
	font-family: "Arial", Helvetica, sans-serif ;
	color: black;
}

#top {
    background-color: black;
}

#navigation {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

#bottom {
    background-color: black;
    color: white;
}


